services:

  # --- BACKEND (Laravel API) ---
  api:
    build:
      context: ./backend
      dockerfile: Dockerfile
    image: laravel-api
    restart: unless-stopped
    working_dir: /var/www
    volumes:
      - ./backend:/var/www
    networks:
      - app-network

  # --- SERVIDOR WEB DA API (Nginx) ---
  nginx:
    image: nginx:alpine
    restart: unless-stopped
    ports:
      - "8000:80" # API acessível em localhost:8000
    volumes:
      - ./backend:/var/www
      - ./backend/docker/nginx/nginx.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - api
    networks:
      - app-network

  # --- BANCO DE DADOS ---
  db:
    image: mysql:8.0
    restart: unless-stopped
    environment:
      MYSQL_DATABASE: laravel_db
      MYSQL_ROOT_PASSWORD: root
      MYSQL_PASSWORD: root
      MYSQL_USER: laravel_user
    ports:
      - "33061:3306"
    volumes:
      - dbdata:/var/lib/mysql
    networks:
      - app-network

  # --- FRONTEND (Vue.js) ---
  web:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    volumes:
      - ./frontend:/app
      - /app/node_modules 
    ports:
      - "5173:5173" # Vue acessível em localhost:5173
    networks:
      - app-network

networks:
  app-network:
    driver: bridge

volumes:
  dbdata:
    driver: local